<html>
	<head>
		<title>Team Ocelot's Official Klump Product</title>
		<script
			  src="http://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
		<script src = "js/main.js"></script>
	</head>
		
	<body>